*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
}
#main{
    width: 100%;
}
#header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
    display: flex;
    align-items: center;

}
#header > *{
    margin-right: 50px;
}
.search-container{
    width: 400px;
    height: 44px;
    display: flex;
    align-items: center;
    border: 1px solid #ececec;
    border-radius: 20px;
    padding: 4px;
}
.button{display: flex;
    position: absolute;
    right: 15px;}
    .search-container input[type="text"]{
        flex: 1;
        font-size: 18px;
        height: 100%;
        padding: 4px;
        border: none;
        outline: none;
        border-radius: 20px;
        padding-left: 15px;
        background-color: #ececec;
    }

.search-container button{
padding: 4px;
background-color: transparent;
border: none;
cursor: pointer;
}

.search-icon{
width: 16px;
height: 16px;
fill: #000;
}

.login-button{
padding: 10px 20px;
background-color: #ececec;
color: #000;
border: none;
border-radius: 20px;
cursor: pointer;
margin-right: 10px;
height: 44px;
}
.search-container{
background-color: #ececec;
}
.register-button{
padding: 10px 20px;
background-color: #c4423e;
color: #fff;
border: none;
border-radius: 20px;
cursor: pointer;
height: 44px;
}
#course-books{
    border-radius: 21px;
    background-color: #ececec;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 700;
    font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    padding-right: 96px;
}
#course-books a{
    text-decoration: none;
    color: #142744;
}
.sub-header-menu{
    position: absolute;
    padding: 10px;
    padding: 0;
    background-color: #f8f8f8;
    list-style-type: none;
    width: 300px;
    height: 350px;
    display: none;
    left: 167px;
    top: 65px;
    z-index: 1000;
}
#course-books:hover + .sub-header-menu, 
.sub-header-menu:hover{
    display: block;
}
.sub-header-menu li a {
    display: block;
    padding: 15px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}
.sub-header-menu .sub-header-menu1{
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    width: 540px;
    list-style-type: none;
    height: 350px;
}
.sub-header-menu li:hover .sub-header-menu1{
    display: block;
}
.sub-header-menu a:hover{
    background-color: #ececec;
}
h1{font-size: 26px;
    font-weight:400;
    line-height: 45px;
    text-align: center;}
.row{
    border-top: 1px solid #cbc6c6;
    background-color: #f8f9fa;
    padding: 45px 0;
    display: flex;
    padding-left: 45px;
}
.r1{
    display: block;
    margin-right: 55px;

}
.r1 p{
    font-size: 14px;
    line-height: 25px;
}
